@media only screen and (min-width: 64rem) {
nav {
    max-width: var(--content-width);
}

.header-cont {
    max-width: var(--content-width);
}

section {
    max-width: var(--content-width);
    margin: 8rem auto 0;
}

.readme-cont {
    grid-template-columns: 1fr 2fr;
}
}