@media only screen and (min-width: 40rem) {
nav {
    width: 90%;
    margin: 2rem auto;
}

#openBtn, #closeBtn {
    display: none;
}

#openBtn.open, #closeBtn.open {
    display: none;
}

#menu {
    display: inline;
    width: fit-content;
}

#menu li {
    display: inline;
    padding: 0;
    border: none;
}

.header-cont {
    width: 90%;
    margin: 0 auto;
}

.header-cont h1 {
    font-size: 5rem;
    text-align: left;
}

.header-cont h5 {
    font-size: 1.5rem;
    text-align: left;
}

.calltoaction {
    width: fit-content;
    margin-top: 1.5rem;
}
}